li{
    list-style: none;
}
.navbar>nav,ul{
    display: flex;
    justify-content: space-between;
}
.welcomeimg>img{
    height: 100vh;
    width: 97vw;
} 
.skills{
    display: flex;
}
.footer{
    background-color: black;
    color: blanchedalmond;
    height: 80px;
}
.footer>p{
    font-size: 20px;
}